/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

/* Responsive */
@media (max-width: 992px) {
  .skill {
    grid-column: span 6;
  }
}

@media (max-width: 576px) {
  .skill {
    grid-column: span 12;
  }
}